* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.contenedor {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

nav a {
  margin: 10px 0;
  padding: 5px;
  display: inline-block;
  text-align: center;
  color: black;
  border-radius: 3px;
  font-size: 13px;
}

.contenedor-flex {
    display:flex;
    flex-flow: row;
    justify-content: space-between;
}

input {
  background-image: url("../img/search.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  font-size: 11px;
  width: 600px;
  padding: 8px 35px;
  border: 1px solid #cccccc;
  border-radius: 7px;
}

::placeholder {
  color: #cccccc;
}

.fa-plus,
.fa-minus {
  color: #cccccc;
  font-weight: 900;
  font-size: 30px;
}

nav a.active {
  background: #091f92;
  color: #fff;
}

nav a:hover {
  background: #ccc;
}

div.img {
  border: 1px solid #ccc;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

div.img:hover {
  border: 1px solid #777;
}

div.img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 400px;
  display: block;
}

div.descripcion {
  padding: 15px;
  text-align: left;
}

p.precio {
  color: gray;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

p.descuento {
  text-decoration: line-through;
  text-align: center;
  color: red;
}

.descripcion a {
  display: block;
  border: none;
  outline: none;
  background-color: #091f92;
  color: white;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 3px;
  font-size: 10px;
  text-align: center;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 10px;
}

@media only screen and (max-width: 419px) {
  /* For móvil: */
  div.img {
    width: 80%;
    margin: auto;
  }

  nav a {
    display: block;
  }

  .caja .tooltip {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (min-width: 420px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }

  .visible-m-block {
    clear: both;
  }

  .clearfix {
    display: none;
  }

  h2 {
    font-size: 1.2em;
  }

  h4,
  span {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  /*.col-2 {width: 16.66%;}*/
  .col-2 {
    width: 20%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.clearfix {
  clear: both;
}

.barra {
  overflow: hidden;
  background-color: rgb(57, 110, 209);
  margin-bottom: 20px;
}

.nav {
  overflow: hidden;
  z-index: 1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.main {
  margin-top: 60px;
}

.barra a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: bold;
}

.barra a:not(.brand):hover:not(.icon) {
  background-color: rgb(20 57 126);
}

.barra .icon {
  display: none;
}

.hover {
  -webkit-transition: background-color 2s; /* Safari */
  transition: background-color 2s;
  background-color: rgb(20 57 126);
}

.footer {
  background: rgb(57, 110, 209);
  padding: 30px;
  text-align: center;
  position: relative;
  display: block;
}
.logoFooter {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  display: block;
}
.copy {
  color: white;
  display: block;
}
a[class^="clase"] {
  width: 30px;
  border-radius: 100%;
  text-align: center;
  border: 1px solid white;
  margin: 5px 2px;
  padding: 5px;
}
a[class^="clase"]:hover {
  opacity: 0.7;
}

.no-result {
  display: none;
  color: rgb(55, 0, 255);
  padding-bottom: 2rem;
}

.fa-facebook {
  background: transparent;
  color: white;
}

.fa-instagram {
  background: transparent;
  color: white;
}

.caja {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  right: 15px;
}
.tooltip a {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: white;
  font-size: 12px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: grey;
  color: #fff;

  border-radius: 5px;
  padding: 3px;
  font-size: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -45px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 600px) {
  /*Selecciona el primer hijo de su padre.*/

  .barra a:not(:first-child) {
    display: none;
  }

  .barra a.icon {
    float: right;
    display: block;
  }

  .barra.desplegable {
    position: relative;
  }
  .barra.desplegable .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .barra.desplegable a {
    float: none;
    display: block;
    text-align: left;
  }

  .barra a:not(:first-child) {
    text-align: center;
  }

  .tooltip a {
    font-size: 10px;
  }

  .tooltip .tooltiptext {
    width: 60px;
    padding: 3px;
    font-size: 10px;
    left: 50%;
    margin-left: -30px;
  }

  .search-box {
    width: 100%;
    padding: 0 10px;
    margin: 15px 0;
    order: 2;
  }

  input#search {
    display: block;
    width: 100%;
  }

  .contenedor-flex {
    flex-flow: column;
    align-items: center;
  }
  .cja-icons {
      order: 1;
  }
}
